body{
	background-color: white;
	font-family: arial;
	padding: 0;
	margin: 0;
}


.container{
	background: white;
	text-align: center;
	width: 100%;
	padding:0 630px 0 0;
}

.video{
	background: white;
	text-align: center;
	width: 100%;

}

.content{
	background-color: #9AAEA6;
	color: white;
	text-align: center;
	width: 20%;
	padding: 0;
	margin: -7px 0 0 573px;

}

.content table{
	margin:0 auto;

}

.text-content{
	width: 50%;
	text-align: right;
	font-size: 16px;
	line-height: 150%;
	padding: 0 0px 0 0px ;
}

.img{
	width: 50%;
}

.td{
	font-size: 40px;
}

.buttom15 {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}
.buttom15:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.buttom15:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

.buttom16 {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .6em 2.1em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(154,174,166) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}
.buttom16:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(154,174,166);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.buttom16:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(154,174,166);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}


.content-2{
	background-color: white;
	padding: 0;
	margin: 0px 0 0 580px;
}
.p-1{
	font-size: 30px;
	color:black;
}

.p-2{
	font-family: arial;
	color: #999999;

}

.spis{
	padding: 0 0 100px 20px;
	font-family: arial;
}